<br>
<br>
<br>
<br>
<br>
<!-- Services Grid Section -->
<div class="header">
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b>ADVICE</b></h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-spinner fa-spin fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/2.jpg", class="img-responsive img-thumbnail">
                    </a>
                    <h3 class="text-center">DURING PREGNANCY</h3>
                </div>
            
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-spinner fa-spin fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/3.jpg", class="img-responsive img-thumbnail">
                    </a>
                    <h3 class="text-center">AFTER PREGNANCY</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-spinner fa-spin fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/1.jpg", class="img-responsive img-thumbnail">
                    </a>
                    <h3 class="text-center">BABY CARE </h3>
                </div>
                
            </div>
        </div>
    </section>
</div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <h2>BEFORE PREGNANCY</h2>
                <br>
                <br>
                    <div>
                        <div class="modal-body">
                            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <%= link_to image_tag("yes.jpg", class: "img-responsive img-thumbnail"), services_b1_path %> 
                    </a>
                    <h3 class="text-center">VIDEOS </h3>
                    <br>
                <br>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("no.jpg", class: "img-responsive img-thumbnail"), bpblogs_index_path %>
                    </a>
                    <h3 class="text-center">ARTICLES</h3>
                    <br>
                <br>
                </div>
            
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("mb.jpg", class: "img-responsive img-thumbnail"), services_b3_path %>
                    </a>
                    <h3 class="text-center">INFOGRAPHICS</h3>
                    <br>
                <br>
                </div>
                
            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <h2>DURING PREGNANCY</h2>
                <br>
                <br>
                    <div>
                        <div class="modal-body">
                            <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("yes.jpg", class: "img-responsive img-thumbnail"), services_d1_path %>
                    </a>
                    <h3 class="text-center">VIDEOS </h3>
                    <br>
                <br>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("no.jpg", class: "img-responsive img-thumbnail"), dpblogs_index_path %>
                    </a>
                    <h3 class="text-center">ARTICLES</h3>
                    <br>
                <br>
                </div>
            
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("mb.jpg", class: "img-responsive img-thumbnail"), services_d3_path %>
                    </a>
                    <h3 class="text-center">INFOGRAPHICS</h3>
                    <br>
                <br>
                </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div>
                    <h2>AFTER PREGNANCY</h2>
                    <br>
                    <br>
                        <div class="modal-body">
                            <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("yes.jpg", class: "img-responsive img-thumbnail"), services_a1_path %>
                    </a>
                    <h3 class="text-center">VIDEOS </h3>
                    <br>
                <br>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("no.jpg", class: "img-responsive img-thumbnail"), apblogs_index_path %>
                    </a>
                    <h3 class="text-center">ARTICLES</h3>
                    <br>
                <br>
                </div>
            
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        
                     <%= link_to image_tag("mb.jpg", class: "img-responsive img-thumbnail"), services_a3_path %>
                    </a>
                    <h3 class="text-center">INFOGRAPHICS</h3>
                    <br>
                <br>
                </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    