<style>
body {
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -ms-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    font-family: 'Open Sans', sans-serif!important;
}
</style>
  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="site-logo">
              <a href="index.html" class="brand">RossGold</a>
            </div>
          </div>


          <div class="col-md-10">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><%= link_to 'HOME', '/homes/index' %></li>

                <li> <% if current_user %>
                    <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
                    <% else %></li>
                    <li class="page-scroll">  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %> 
              </ul>
            </div>
            <!-- /.Navbar-collapse -->

          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->
<div>
<div class="text-center" style="color: white;">
<br>
                    <br>
                    <br>
                    <br>
                    <br>
    <div class="table">

        <div><h2 class="text-center" style="color: white;">Sign up</h2></div>
        <ul>         
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <br>
            <il>
                <div class="field">
                    <%= f.label :First_name %><br />         
                    <%= f.text_field :user_name, autofocus: true %>
                </div>
            </il>
            <br>
            <il>
                <div class="field">
                    <%= f.label :WhatsApp_Number_for_notifications %><br />         
                    <%= f.number_field :whatsapp %>
                </div>
            </il>
            <il>
                <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email %>
                </div>
            </il>
            <br>
            <il>  
                <div class="field">
                    <%= f.label :password_shhh_its_a_secret %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                </div>
            </il>
            <br>   
            <il>
                <div class="field">
                    <%= f.label :Type_your_password_again_quickly_they_are_watching %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
            </il>
            <br>
            <il>
                <div class="actions"><%= f.submit "Sign up" %></div>
                <% end %>
            </il>
                <il>  <%= render "devise/shared/links" %>  </il>
        </ul>  
    </div>
</div>
<br>
<br>
</div>